<% content_for :stylesheets do %>
  <%= stylesheet_link_tag 'welcome', media: 'all' %>
<% end %>


<h1 class="page-title">Welcome to Sage&Style</h1>

<div class="homepage-intro">
  <p>
    Discover timeless, ethically-crafted pieces designed with nature and elegance in mind.
    Whether you're updating your wardrobe or browsing for inspiration, our seasonal and essential
    collections are curated to help you shop with intention and style.
  </p>
</div>

<section class="featured-products">
  <h2>Featured Products</h2>
  <div class="product-grid">
    <%= render partial: "products/product_card", collection: @featured_products, as: :product %>
  </div>

<div class="see-all-products-wrapper">
  <%= link_to "See All Products", products_path, class: "btn-see-all" %>
</div>



</section>
